.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

:root {
  --black: #171718;
  --black-border: #171718;
  --white: #fff;
  --purple: #5c62ec;

  --dark-bg: var(--black);
  --dark-border: var(--black-border);
  --header-text: var(--white);
  --accent: var(--purple);
}
