.header {
  padding: 181px;
  background-color: var(--dark-bg);
  color: var(--header-text);
  min-height: 695px;

  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;

  background-image: url(./../img/header/main-header.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;

  // .header__wrapper
  &__wrapper {
    padding: 0 15px;
    max-width: 672px;
  }

  // .header__title
  &__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 140%;
    color: #fafafa;
  }

  // .header__text
  &__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 40px;
  }

  // .header__button
  &__button {
    height: 48px;
    padding: 12px 28px;

    border-radius: 5px;
    background-color: var(--purple);
    color: var(--white);
    letter-spacing: 0.15px;
    font-weight: 500;
    font-size: 16px;
    transition: opacity 0.2s ease-in;
  }

  &__button:hover {
    opacity: 0.8;
  }

  &__button:active {
    position: relative;
    top: 1px;
  }
}

.header__title strong {
  font-size: 60px;
  font-weight: 700;
}

.header__title em {
  font-style: normal;
  color: var(--accent);
}

.header__text p + p {
  margin-top: 0.5em;
}
